<div class="main-header">
  <h2 class="main-header__title">メモを編集する</h2>
</div>
<section class="memo-main">
  <form method="post" action="/memos/<%= @id %>/edit" class="form">
    <div class="form-item">
      <label class="form-item__label">タイトル</label>
      <input type= "text" name="title" value="<%= h(@title) %>" class="form-item__titlearea">
    </div>
    <div class="form-item">
      <label class="form-item__label">内容</label>
      <textarea name="content" class="form-item__textarea"><%= h(@content) %></textarea>
    </div>
    <div>
      <input type="hidden" name="_method" value="PATCH">
      <input type= "submit" value="変更" class="form-item__button">
    </div>
  </form>
</section>
