<div class="content">
  <form method="post" action="/memos/<%= @id %>/edit">
    <input type="text" name="title" value="<%= @title %>">
    <input type="text" name="content" value="<%= @content %>">
    <input type="hidden" name="_method" value="PATCH">
    <input type="submit" value="変更">
  </form>
</div>