<div>
  <a href="/memos/new">追加</a>
</div>
<section>
  <ul>
    <% @memos.each do |memo| %>
      <li><a href="<%= "memos/#{memo['id']}" %>"><%= memo['title'] %></a></li>
    <% end %>
  </ul>
</section>